# Git
.git/
.gitignore

# Dockerfile
Dockerfile
.dockerignore

# Python virtual environment & cache
.venv
venv
env
__pycache__/
*.pyc
*.pyo
*.pyd

# IDEs / Editor files
.idea/
.vscode/
.ropeproject/
*.swp

# Local environment files and secrets
.env
.env.*


# Logs
logs/
*.log
performance_run.log

# Test files
tests.py
